<div class="well">
  <p><a href="/brands/new">Add a brand</a></p>
  <p><a href="/brands">View all brands</a></p>
  <p><a href="/stores/new">Add a store</a></p>
  <p><a href="/stores/view">View all stores</a></p>
</div>
