<div class="well">
  <h4>Welcome to Shoe Corps store/brander tracker. Select a link to start adding stores and brands to database.</h4>
  <p><a href="/brands/new">Add a brand</a></p>
  <p><a href="/brands">View all brands</a></p>
  <p><a href="/stores">Add a store</a></p>
  <p><a href="/stores/view">View all stores</a></p>
</div>
